* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	font-size: 62.5%;
}
body {
	background: #eff0f4;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: #68cdd5;
	height: 6rem;
	font-size: 3rem;
	line-height: 6rem;
	color: white;
	padding: 0 10px;
}
.main {
	margin-top: 16px;
}
.main div {
	background-color: #fff;
	height: 100px;
	display: flex;
	align-items: center;
}
.main div:last-child {
	margin-top: 16px;
}
.main img {
	margin-left: 2rem;
	width: 2rem;
}
.main input {
	border: 0px;
	border-left: 2px solid #e1e5e7;
	height: 52px;
	line-height: 52px;
	margin-left: 3rem;
	width: 70%;
	font-size: 1.6rem;
	padding-left: 3rem;
	color: #e1e5e7;
	opacity: 0.5;
}
button {
	width: 100%;
	line-height: 6rem;
	font-size: 2rem;
	border: 0;
	margin-top: 68px;
	color: white;
	background-color: #68cdd5;
}
.footer p {
	margin-top: 20px;
	color: #68cdd5;
	float: right;
	margin-right: 10px;
	font-size: 1.6rem;
} 